@import "_reset.scss";

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "RobotoThin";
  src: url("../fonts/Roboto-Thin.ttf");
}

//REVIEW ABOVE HERE

body {
  background: #360033;
  background: -webkit-linear-gradient(to bottom, #0b8793, #360033);
  background: linear-gradient(to bottom, #0b8793, #360033);
  background-attachment: fixed;
  min-height: 100vh;
}

input,
textarea,
p {
  &:focus {
    outline: none;
  }
}

.app-header {
  color: white;
  font-family: "RobotoBold", sans-serif;
  font-size: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  @media (max-width: 1224px) {
    font-size: 40px;
  }
  @media (max-width: 768px) {
    font-size: 30px;
  }
}

.content {
  background-color: transparent;
  margin: 0 auto;
  width: 50%;
  @media (max-width: 1224px) {
    width: 70%;
  }
  @media (max-width: 768px) {
    width: 97%;
  }
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: "RobotoRegular", sans-serif;
    outline: none;
  }
  h2 {
    color: white;
    font-family: "RobotoRegular", sans-serif;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }
  p {
    color: white;
    font-family: "RobotoRegular", sans-serif;
    font-size: 20px;
  }
  .overview {
    text-align: center;
    form {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      @media (max-width: 768px) {
        margin-bottom: 20px;
      }
      .url-input {
        background-color: rgba(255, 255, 255, 0.1);
        border: black;
        border-radius: 5px;
        color: white;
        font-family: "RobotoRegular", sans-serif;
        font-size: 20px;
        padding: 7px;
        width: 240px;
        &::-webkit-input-placeholder {
          color: white;
        }
        &::-moz-placeholder {
          color: white;
        }
        &:-ms-input-placeholder {
          color: white;
        }
        &:-moz-placeholder {
          color: white;
        }
      }
      .submit-button {
        background-color: transparent;
        border: 1px solid white;
        border-radius: 40px;
        color: white;
        cursor: pointer;
        font-size: 14px;
        height: 40px;
        margin-left: 20px;
        width: 80px;
        @media (max-width: 768px) {
          margin-top: 20px;
        }
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
    .navigation {
      padding-top: 30px;
      padding-bottom: 20px;
      text-align: center;
      .navigation-button {
        display: inline-block;
        height: 30px;
        position: relative;
        top: 3px;
        width: 30px;
        img {
          height: 20px;
          @media (max-width: 768px) {
            height: 14px;
          }
        }
        &:hover {
          opacity: 0.7;
        }
      }
      .page-numbers {
        display: inline-block;
        padding-left: 40px;
        padding-right: 20px;
        @media (max-width: 768px) {
          padding-left: 15px;
          padding-right: 0;
        }
        .page-number {
          border-radius: 30px;
          color: white;
          cursor: pointer;
          font-size: 14px;
          height: 30px;
          margin: 5px;
          width: 30px;
          @media (max-width: 768px) {
            border-radius: 25px;
            height: 25px;
            width: 25px;
          }
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
    .link-list {
      margin-bottom: 20px;
      .link-li {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 5px;
        text-align: left;
        button {
          img {
            height: 16px;
            @media (max-width: 768px) {
              height: 12px;
            }
          }
        }
        .delete-button,
        .link-button,
        .link-item {
          display: inline-block;
        }
        .delete-button,
        .link-button {
          &:hover {
            opacity: 0.7;
          }
        }
        .link-item {
          margin-left: 10px;
          @media (max-width: 768px) {
            font-size: 12px;
          }
        }
      }
    }
    .load-sample-data,
    .clear-data {
      background-color: transparent;
      border: 1px solid white;
      border-radius: 42px;
      color: white;
      display: inline-block;
      font-size: 14px;
      height: 42px;
      margin-bottom: 20px;
      margin-left: 10px;
      margin-right: 10px;
      max-width: 200px;
      width: 40%;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
  .results {
    text-align: center;
    .new-url {

      padding-bottom: 24px;
      padding-top: 24px;
    }
    .overview-page-link {
      background-color: transparent;
      border: 1px solid white;
      border-radius: 42px;
      color: white;
      font-size: 20px;
      height: 42px;
      margin-left: 20px;
      width: 80px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

.hidden {
  display: none;
}

//REVIEW BELOW HERE

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  to {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes spinner {
  to {
    -ms-transform: rotate(360deg);
  }
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

#spinner {
  border-bottom: 10px solid grey;
  border-left: 10px solid grey;
  border-right: 10px solid white;
  border-radius: 50%;
  border-top: 10px solid white;
  height: 60px;
  left: 50%;
  margin: -30px 0 0 -30px;
  position: absolute;
  top: 50%;
  width: 60px;

  -webkit-animation: spinner 1.2s infinite linear;
  -moz-animation: spinner 1.2s infinite linear;
  -ms-animation: spinner 1.2s infinite linear;
  animation: spinner 1.2s infinite linear;
}
